@use'./variables'
    
.barraPesquisa
    width: 657px
    height: 21px
    border-radius: 10px
    background: url("../../assets/MagnifyingGlass.svg") no-repeat
    background-position: right 16px center
    background-color: #f6f5f2
    border: none
    padding: 14px 24px 13px 24px
    font-size: 14px
    font-weight: 500
    color: variables.$cinza