@use'./variables'

.botaoVerProduto
    width: 227px
    height: 60px
    border-radius: 5px
    background: variables.$rosa-primario
    color: #FFF
    font-size: 18px
    font-weight: 600
    border: none
    position: absolute
    top: 285px
    left: 90px

.botaoHeader
    width: 24px
    height: 24px
    background: transparent
    border: none
    display: flex
    align-items: center
    justify-content: center

    img
        width: 24px
        height: 24px

.divBotaoCategoria
    text-align: center

    .botaoCategoria
        width: 128px
        height: 128px
        border-radius: 10px
        background: #FFF
        box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.22)
        border: none

    .textoCategoria
        color: #4E4E4E
        font-size: 16px
        font-weight: 500
        margin-top: 22px

.botaoAbaHeader
    font-size: 12px
    color: variables.$cinza
    font-weight: 600
    text-transform: uppercase
    text-decoration: none

.botaoAba
    display: flex
    width: 211.5px
    height: 40px
    padding: 12px 58px
    justify-content: center
    align-items: center
    flex: 1 0 0
    border: 1px solid #bdbdbd
    font-size: 16px
    font-weight: 400
    line-height: 16px
    background: #fff
    text-transform: uppercase
    color: #3B3B3B
    font-style: normal
    text-wrap: nowrap

.destaqueBotaoAba
    color: variables.$rosa-primario
    font-weight: 700

.botaoComprar
    width: 245px
    height: 44px
    border-radius: 4px
    background: variables.$rosa-primario
    text-align: center
    font-size: 14px
    font-weight: 700
    text-transform: uppercase
    border: none
    color: #FFFFFF